@use "../../node_modules/bulma/sass/" as bulma with (
	$family-primary: '"Nunito", sans-serif',
	$primary: rgb(66, 88, 255),
	$control-border-width: 2px,
	$input-shadow: none
);

// :root {
// 	$card-shadow: 0 2px 4px rgb(255, 0, 0);
// }



.rotated {
	transform: rotate(90deg);
}

.mui-icon {
	transition: transform 0.3s ease;
}

.no-cursor {
	cursor: default !important;
}

/* example scoped class */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}